.books__details {
  transition: 1s ease-in-out;
}
.books__details:hover {
  transform: scale(1.3);
}
.cart__button {
  margin: 0 10% 0 20%;
  padding: 2px;
  font-family: "Potta One", cursive;
  visibility: hidden;
  /* display: none; */
  transform: scale(1.3);
}
