.container {
  display: flex;
  width: 100%;
}
.column {
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
}
.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  position: relative;
}
.books__details {
  margin-left: 20px;
  margin-top: 10px;

  background-color: grey;
  padding: 4px;
  justify-content: space-between;
}
.rating__inStar {
  color: orangered;
}
.card__button {
  position: absolute;
  bottom: 3%;
  left: 70%;
  padding: 10px;
  font-weight: 800;
  /* display: block; */
}
.columnForm > label > input {
  padding-bottom: 10px;
  background-color: red;
  color: green;
}
